################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TriangleRendering/v16
/Common/obj/Debug
/Library/obj/Debug
/TestConsole/obj/Debug
/Library/bin/Debug
/Common/bin/Debug
/TestConsole/bin/Debug
