################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TriangleRendering/v16
/Common/obj/Debug
/Library/obj/Debug
/TestConsole/obj/Debug
/Library/bin/Debug
/Common/bin/Debug
/TestConsole/bin/Debug
/Library/bin/Release
/Library/obj/Release
/View/bin/Debug
/View/bin/Release
/View/obj
/Common/bin/Release
/Common/obj/Release
/TestConsole/bin/Release
/TestConsole/obj/Release
